.App {
  text-align: center;
  width: 100vw;
  height: 100vw;
  margin: 0 auto;
}

.App-main {
  position: relative;
  width: 500px;
  flex-grow: 1;
  margin: 0 auto;
}

.App-est {
  position: fixed;
  top: 0;
  writing-mode: vertical-rl;
  pointer-events: none;
  color: var(--text-color-dim);
  letter-spacing: var(--text-letter-spacing-large);
}

.App-header {
  margin-top: .5rem;
  min-height: 15vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: var(--accent-color);
}

.Navbar {
  padding-bottom: 1rem;
}

.Navbar-link {
  color: var(--text-color);
  background-color: var(--accent-color);

  box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.5);

  border-bottom: 15px solid var(--accent-hover-color);

  font-family: "Dorsa", sans-serif;
  font-size: var(--text-size-default);
  font-weight: bold;
  letter-spacing: var(--text-letter-spacing-default);
  text-decoration: none;

  padding: .4rem;

  transition: transform var(--shift-transition-time) ease-out;
}

.Navbar-link:hover {
  color: var(--text-color);
  background-color: var(--accent-hover-color);

  box-shadow: 0px 4px 0px rgba(0, 0, 0, 1);

  border-bottom: 15px solid var(--accent-hover-secondary-color);
  
  outline: 2px solid var(--accent-hover-secondary-color);
  outline-offset: -2px;
  
  font-family: "Dorsa", sans-serif;
  font-size: var(--text-size-default);
  font-weight: bold;
  letter-spacing: var(--text-letter-spacing-default);
  
  text-decoration: none;
  
  padding: .4rem;

  transform: translateY(var(--Y-button-offset));
}

.Navbar-link-locked {
  color: var(--text-color);
  background-color: var(--accent-hover-color);

  box-shadow: 0px 4px 0px rgba(0, 0, 0, 1);

  border-bottom: 10px solid var(--accent-hover-secondary-color);
  
  outline: 2px solid var(--accent-hover-secondary-color);
  outline-offset: -2px;
  
  font-family: "Dorsa", sans-serif;
  font-size: var(--text-size-default);
  font-weight: bold;
  letter-spacing: var(--text-letter-spacing-default);
  
  text-decoration: none;

  margin-top: .3rem;
  padding: .3rem .4rem .3rem .4rem;

  transform: translateY(var(--Y-button-offset));
}

.Page-container {
  background-color: var(--background-color);
}

.Page-content {
  padding-top: .1em;
}

.Page-content-container {
  background-image: url('./images/film-roll.png');
  background-repeat: repeat-y;
  background-position: center;
  background-size: contain;
  padding-bottom: .5em;
}

.Page-header {
  background-color: var(--secondary-hover-color);
  margin-left: -.5em;
  margin-right: -.5em;
  border-left: var(--side-border-size) solid var(--secondary-hover-color);
  border-right: var(--side-border-size) solid var(--secondary-hover-color);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.Page-gif {
  width: 50%;
  height: 50%;
  margin: -.5em;
}

.PageHeader-container {
  background-color: var(--background-color);
}

.GalleryImage-container {
  padding: 1em;
}

.GalleryImage-content {
  animation: fadeSlideInLeft var(--slide-transition-time) ease-out both;
  border: 1px solid var(--secondary-hover-color);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.GalleryImage {
  width: 100%;
  height: 100%;
  margin-bottom: -.8em;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;

  transition: transform var(--shift-transition-time) ease-out;
}

.GalleryImage:hover {
  transform: perspective(1000px) rotateX(5deg) scale(1.02);
  animation: flashOut 0.3s ease-out;
}

.GalleryImage-title {
  background-color: var(--secondary-color);
  padding: .4em;
  border-top: 1px solid var(--secondary-hover-color);
  border-bottom: 1px solid var(--secondary-hover-color);
}

.GalleryImage-desc {
  margin-top: -.5em;
  margin-bottom: .5em;
}

.VideoEmbed-container {
  position:relative;
  padding-bottom: 56.25%;  /* Aspect ratio (16:9) */
  height: 0;
  overflow: hidden;
}

.VideoEmbed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.TextOverlayWrapper {
  position: relative;
  display: inline-block;
}

.OverlayText {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
  font-size: var(--text-size-default);
  background: rgba(0, 0, 0, .3);
  padding: .5rem;

  opacity: 0;
  transition: opacity var(--shift-transition-time) ease-in-out;
  pointer-events: none;
}

.TextOverlayWrapper:hover .OverlayText {
  opacity: 1;
}

@keyframes flashOut {
  0% {
    filter: brightness(1.2);
  }
  100% {
    filter: brightness(1);
  }
}

@keyframes fadeSlideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeSlideInTop {
  0% {
    opacity: 0;
    transform: translateY(-.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
}

.animateFadeInSlideLeft {
  animation: fadeSlideInLeft var(--slide-transition-time) ease-out forwards;
}

.animateFadeInSlideTop {
  animation: fadeSlideInTop var(--slide-transition-time) ease-out forwards;
}

.animatePopIn {
  animation: popIn var(--slide-transition-time) var(--ease-out-back) forwards;
  transform-origin: center center;
}

@media (max-width: 768px) {
  .App-main {
    width: 70vw;
  }
}