@import url('https://fonts.googleapis.com/css2?family=Dorsa&display=swap');

:root {
  --text-color: #ffeee1;
  --text-color-dim: #b7a79b;
  --accent-color: #e54a24;
  --accent-hover-color: #c91d23;
  --accent-hover-secondary-color: #a6163c;
  --secondary-color: #392E25;
  --secondary-hover-color: #2c201a;
  --background-color: #1a1511;
  --outside-color: #050306;
  --text-size-small: 24px;
  --text-size-default: 32px;
  --text-size-fine-print: 20px;
  --text-size-large: 48px;
  --text-size-xlarge: 64px;
  --text-letter-spacing-default: 2px;
  --text-letter-spacing-large: 8px;
  --border-radius-default: 6px;
  --slide-transition-time: 0.4s;
  --scale-transition-time: 0.3s;
  --shift-transition-time: 0.1s;
  --enlrage-scale: 1.02;
  --Y-button-offset: 2px;
  --side-border-size: .5em;

  --ease-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  background-color: var(--outside-color);
  color: var(--text-color);
  font-family: "Dorsa", sans-serif;
  font-size: var(--text-size-default);
  letter-spacing: var(--text-letter-spacing-default);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

h1, h2, h3, p {
  font-weight: normal;
}

h1::before,
h1::after,
h2::before,
h2::after {
  content: " - ";
  margin: 0 0.1rem 0 0.1 rem;
}

p {
  margin: 1em;
  text-align: justify;
}

ul, ol {
  text-align: left;
  margin-right: .4em;
}

ul {
  list-style-type: none;
}

ul li::before {
  /* ☞➣➺➻➸ */
  content: "☞";
  margin-right: .2em;
  line-height: 1.1;
}

li {
  margin-bottom: .5em;
}

.horizontal-line {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.horizontal-line hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid var(--text-color);
  margin: 0 .4em;
}
.horizontal-line a {
  text-decoration: none;
  font-size: var(--text-size-default);
  user-select: none;
}

a.link {
  text-decoration: none;
  color: var(--accent-color);
}

a.link:hover {
  text-decoration: none;
  color: var(--accent-hover-color);
}

p.fine-print {
  margin: 2em;
  font-size: var(--text-size-fine-print);
  color: var(--text-color-dim);
}