@import url('https://fonts.googleapis.com/css2?family=Dorsa&display=swap');

:root {
  --text-color: #ffeee1;
  --accent-color: #e54a24;
  --accent-hover-color: #c91d23;
  --accent-hover-secondary-color: #a6163c;
  --secondary-color: #392E25;
  --secondary-hover-color: #2c201a;
  --background-color: #1a1511;
  --outside-color: #050306;
  --text-size-small: 24px;
  --text-size-default: 32px;
  --text-size-large: 48px;
  --text-size-xlarge: 64px;
  --text-letter-spacing-default: 1px;
  --border-radius-default: 6px;
  --slide-transition-time: 0.4s;
  --scale-transition-time: 0.3s;
  --shift-transition-time: 0.1s;
  --enlrage-scale: 1.02;
  --Y-button-offset: 2px;
  --side-border-size: .1em;
  background-color: var(--outside-color);
  color: var(--text-color);
  font-family: "Dorsa", sans-serif;
  font-size: var(--text-size-default);
  letter-spacing: var(--text-letter-spacing-default);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

h1, h2, h3 {
  font-weight: normal;
  animation: fadeSlideInTop var(--slide-transition-time) ease-out both;
}

.horizontal-line {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.horizontal-line hr {
  flex-grow: 1;
  border: none;
  border-top: 1px solid var(--text-color);
  margin: 0 .4em;
}
.horizontal-line a {
  text-decoration: none;
  font-size: var(--text-size-default);
  user-select: none;
}